
h1 {  /* Header  - Title */
  font-size: 4rem;
  font-size: calc( 2vw + 1vh + 1rem);
  line-height: 120%;
  margin: 0;
  font-weight: 700;
}

h2 { /* Link title */
  font-size: 3rem;
  font-size: calc(1.5vw + .75vh + .75rem);
  line-height: 130%;
  margin: 0;
  font-weight: 700;
}

h3 { /* Secondary title */
  font-size: 2rem;
  font-size: calc(1vw + .5vh + .5rem);
  line-height: 110%;
  margin: 0;
  font-weight: 700;
}

h4 { /* body */
  font-size: 2rem;
  font-size: calc(1vw + .5vh + .5rem);
  line-height: 140%;
  margin: 0;
  font-weight: 300;
}

h5 { /* Highlight text */
    font-size: 2rem;
    font-size: calc(1vw + .5vh + .5rem);
    line-height: 140%;
    margin: 0;
    font-weight: 500;
}

h6 {
  font-size: 1.2rem;
  font-size: calc(.616vw + .41vh + .41rem);
  line-height: 110%;
  margin: calc(.308vw + .205vh + .205rem) 0 calc(.246vw + .164vh + .164rem) 0;
}


.light {
    font-weight: 300;
}
.medium {
    font-weight: 500;
}
.bold {
    font-weight: 700;
}
