/* Général */
html, body {
    height: 100%;
}
* {
    box-sizing: border-box;
}
/* Grid*/
.row {
    width: 100%;
    vertical-align: middle;
}

.col {
    display: inline-block;
    margin-left: -5px;
    padding: 0 10px;
    vertical-align: middle;
    margin-bottom: 20px;
}
.col.top {
    vertical-align: top;
}
.col.bottom {
    vertical-align: bottom;
}

.col.xs-0 {
    display: none;
}
.col.xs-1 {
    width: 8.3333%;
}
.col.xs-2 {
    width: 16.6666%;
}
.col.xs-3 {
    width: 24.9999%;
}
.col.xs-4 {
    width: 33.3333%;
}
.col.xs-5 {
    width: 41.6666%;
}
.col.xs-6 {
    width: 50%;
}
.col.xs-7 {
    width: 58.3333%;
}
.col.xs-8 {
    width: 66.6666%;
}
.col.xs-9 {
    width: 74.9999%;
}
.col.xs-10 {
    width: 83.3333%;
}
.col.xs-11 {
    width: 91.6665%;
}
.col.xs-12 {
    width: 100%;
}

.col.offset-xs-1 {
    margin-left: 8.3333%;
}
.col.offset-xs-2 {
    margin-left: 16.6666%;
}
.col.offset-xs-3 {
    margin-left: 24.9999%;
}
.col.offset-xs-4 {
    margin-left: 33.3333%;
}
.col.offset-xs-5 {
    margin-left: 41.6666%;
}
.col.offset-xs-6 {
    margin-left: 50%;
}
.col.offset-xs-7 {
    margin-left: 58.3333%;
}
.col.offset-xs-8 {
    margin-left: 66.6666%;
}
.col.offset-xs-9 {
    margin-left: 74.9999%;
}
.col.offset-xs-10 {
    margin-left: 83.3333%;
}
.col.offset-xs-11 {
    margin-left: 91.6665%;
}
.col.offset-xs-12 {
    margin-left: 100%;
}

/* col bonus*/
.col.no-margin {
    margin-bottom: 0;
}
.col.no-padding {
    padding: 0;
}
.col.full-height, .row.full-height {
    height: 100%;
}

/* Text organisation */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-justify {
    text-align: justify;
}
/* Bonus */
.row.line {
    height: 2px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 1px;
    margin-bottom: 20px;
}

@media (orientation:portrait) {
    .col.po-0, .col.po-0.xs-0 {
        display: none;
    }
    .col.po-block {
        display: inline-block;
    }
    .col.po-1 {
        width: 8.3333%;
    }
    .col.po-2 {
        width: 16.6666%;
    }
    .col.po-3 {
        width: 24.9999%;
    }
    .col.po-4 {
        width: 33.3333%;
    }
    .col.po-5 {
        width: 41.6666%;
    }
    .col.po-6 {
        width: 50%;
    }
    .col.po-7 {
        width: 58.3333%;
    }
    .col.po-8 {
        width: 66.6666%;
    }
    .col.po-9 {
        width: 74.9999%;
    }
    .col.po-10 {
        width: 83.3333%;
    }
    .col.po-11 {
        width: 91.6665%;
    }
    .col.po-12 {
        width: 100%;
    }

    .col.offset-po-0 {
        margin-left: -5px;
    }
    .col.offset-po-1 {
        margin-left: 8.3333%;
    }
    .col.offset-po-2 {
        margin-left: 16.6666%;
    }
    .col.offset-po-3 {
        margin-left: 24.9999%;
    }
    .col.offset-po-4 {
        margin-left: 33.3333%;
    }
    .col.offset-po-5 {
        margin-left: 41.6666%;
    }
    .col.offset-po-6 {
        margin-left: 50%;
    }
    .col.offset-po-7 {
        margin-left: 58.3333%;
    }
    .col.offset-po-8 {
        margin-left: 66.6666%;
    }
    .col.offset-po-9 {
        margin-left: 74.9999%;
    }
    .col.offset-po-10 {
        margin-left: 83.3333%;
    }
    .col.offset-po-11 {
        margin-left: 91.6665%;
    }
    .col.offset-po-12 {
        margin-left: 100%;
    }

    .col.po-no-bottom-margin {
        margin-bottom: 0;
    }
    .col.po-no-left-margin {
        margin-left: 0;
    }

    .col.xs-0 {
        display: inline-block;
    }
}

@media (min-width:801px) {
    .col.md-0 {
        display: none;
    }
    .col.md-block {
        display: inline-block;
    }
    .col.md-1 {
        width: 8.3333%;
    }
    .col.md-2 {
        width: 16.6666%;
    }
    .col.md-3 {
        width: 24.9999%;
    }
    .col.md-4 {
        width: 33.3333%;
    }
    .col.md-5 {
        width: 41.6666%;
    }
    .col.md-6 {
        width: 50%;
    }
    .col.md-7 {
        width: 58.3333%;
    }
    .col.md-8 {
        width: 66.6666%;
    }
    .col.md-9 {
        width: 74.9999%;
    }
    .col.md-10 {
        width: 83.3333%;
    }
    .col.md-11 {
        width: 91.6665%;
    }
    .col.md-12 {
        width: 100%;
    }

    .col.offset-md-0 {
        margin-left: -5px;
    }
    .col.offset-md-1 {
        margin-left: 8.3333%;
    }
    .col.offset-md-2 {
        margin-left: 16.6666%;
    }
    .col.offset-md-3 {
        margin-left: 24.9999%;
    }
    .col.offset-md-4 {
        margin-left: 33.3333%;
    }
    .col.offset-md-5 {
        margin-left: 41.6666%;
    }
    .col.offset-md-6 {
        margin-left: 50%;
    }
    .col.offset-md-7 {
        margin-left: 58.3333%;
    }
    .col.offset-md-8 {
        margin-left: 66.6666%;
    }
    .col.offset-md-9 {
        margin-left: 74.9999%;
    }
    .col.offset-md-10 {
        margin-left: 83.3333%;
    }
    .col.offset-md-11 {
        margin-left: 91.6665%;
    }
    .col.offset-md-12 {
        margin-left: 100%;
    }
}
